<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Session/Normal Login</h1>
	<form action="/verify_login" method="post">
		user <br> <input type="" name="name"><br>
		password <br> <input type="password" name="password"> <br>
		<input type="submit" value="enter">
	</form>
	<h1>Cookie Login</h1>
	<form action="/verify_cookie_login" method="post">
		user <br> <input type="" name="name"><br>
		password <br> <input type="password" name="password"> <br>
		<input type="submit" value="enter">
	</form>
</body>
</html>